<h1>New Movie</h1>
<%= form_with model: @movie, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :blurb %>
    <%= form.text_area :blurb %>
  </div>
  <div>
    <%= form.label :date_released %>
    <%= form.date_field :date_released %>
  </div>
  <div>
    <%= form.label :country_of_origin %>
    <%= form.text_field :country_of_origin %>
  </div>
  <div>
    <%= form.label :showing_start %>
    <%= form.datetime_field :showing_start %>
  </div>
  <div>
    <%= form.label :showing_end %>
    <%= form.datetime_field :showing_end %>
  </div>
  <div>
    <%= form.label :genres %>
    <%= form.collection_select :genre_ids, Genre.all, :id, :name, {}, { multiple: true } %>
  </div>
  <div>
    <%= form.submit "Create Movie" %>
  </div>
<% end %>