<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Movies', movies_path %></li>
      <% if session[:user_id] %>
        <li><%= link_to 'Add New Movie', new_movie_path %></li>
        <li>Welcome, <%= session[:username] %>!</li>

      <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Sign Up', signup_path %></li>
      <% end %>
    </ul>
  </nav>


  <%= notice %>
  <%= alert %>
    <%= yield %>
  </body>
</html>
